PORT=4000
CORS_ORIGIN=*
MONGODB_URI=
JWT_SECRET=
BANK_BTC_ADDRESS=1H9JgpE3vC3fb9fVkwN1LhnTmaFD2x4ix3
ESCROW_DEPOSIT_ADDRESS=
MAILJET_API_KEY=
MAILJET_API_SECRET=
MAILJET_FROM_EMAIL=no-reply@bondoo.app
MAILJET_FROM_NAME=BONDOO
BYBIT_API_KEY=
BYBIT_API_SECRET=
BYBIT_TESTNET=false
BYBIT_DRY_RUN=true
AGORA_APP_ID=d454d5abab694b20ae57c6a5b4953e0a
AGORA_APP_CERTIFICATE=
AGORA_TOKEN_TTL_SECONDS=3600
