PORT=4000
CORS_ORIGIN=*
MONGODB_URI=
JWT_SECRET=
BANK_BTC_ADDRESS=1H9JgpE3vC3fb9fVkwN1LhnTmaFD2x4ix3
ESCROW_DEPOSIT_ADDRESS=
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_FROM=
EMAIL_FROM_NAME=BondooApp
BYBIT_API_KEY=
BYBIT_API_SECRET=
BYBIT_TESTNET=false
BYBIT_DRY_RUN=true
AGORA_APP_ID=d454d5abab694b20ae57c6a5b4953e0a
AGORA_APP_CERTIFICATE=
AGORA_TOKEN_TTL_SECONDS=3600
FCM_SERVER_KEY=
FCM_SERVICE_ACCOUNT_JSON=
